html{
    font-family: sans-serif;
    background-image: url("/images/coffeeshop.jfif")
}
#grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

#wrapper{
    max-width: 1000px;
    margin-left: 35%;
    margin-right: 35%;
}
#grid h3{
    text-align:center;
}
h1,h2,h4{
    text-align: center;
}
#grid img{
    max-width: 200px;
    max-height: 200px;
}
